Source: ros-groovy-rospatlite
Section: misc
Priority: extra
Maintainer: Takuya Nakaoka <nakaokat@gmail.com>
Build-Depends: debhelper (>= 7.0.0), ros-groovy-catkin, ros-groovy-rospy, ros-groovy-std-msgs
Homepage: http://ros.org/wiki/rospatlite
Standards-Version: 3.9.2

Package: ros-groovy-rospatlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-rospy, ros-groovy-std-msgs
Description: rospatlite
