Source: ros-hydro-jsk-common
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin
Homepage: http://ros.org/wiki/jsk_common
Standards-Version: 3.9.2

Package: ros-hydro-jsk-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-assimp-devel, ros-hydro-bayesian-belief-networks, ros-hydro-downward, ros-hydro-dynamic-tf-publisher, ros-hydro-ff, ros-hydro-ffha, ros-hydro-image-view2, ros-hydro-jsk-footstep-msgs, ros-hydro-jsk-gui-msgs, ros-hydro-jsk-hark-msgs, ros-hydro-jsk-network-tools, ros-hydro-jsk-tilt-laser, ros-hydro-jsk-tools, ros-hydro-jsk-topic-tools, ros-hydro-libsiftfast, ros-hydro-mini-maxwell, ros-hydro-multi-map-server, ros-hydro-nlopt, ros-hydro-opt-camera, ros-hydro-posedetection-msgs, ros-hydro-rospatlite, ros-hydro-rosping, ros-hydro-rostwitter, ros-hydro-sklearn, ros-hydro-speech-recognition-msgs, ros-hydro-virtual-force-publisher, ros-hydro-voice-text
Description: Metapackage that contains commonly used toolset for jsk-ros-pkg
